
.outerContainer {
  height: 100%;
  width: 100%;
  border: 1px solid;
}
.calculatorBody {

  background-color: grey;
  outline-width: 1px;
  border: 1px solid black;
  width:40%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
  border-radius: 3%;
}

.calculatorScreen{
  background-color: white;
  width:90%;
  height:20%; 
  margin: 5% 10% 5% 5%;
  border-radius: 3%;

}

.numberButtonsContainer{
  width: 80%;
  height:70%;
  margin-left: 6%;
}

.numberButtons{
  width: 13vh;
  height: 13vh;
  margin: .25%;
  border-radius: 10%;
}
.buttonsContainer{
  width: 90%;
  display: flex;
  margin-bottom: 30%;
}

.operatorButtonContainer{
  width: 20%;
  height: 74%;
}

.operatorButtons{
  width: 10vh;
  height: 10vh;
  margin: 1%;
  background-color: rgb(140, 177, 236);
  border-radius: 10%; 
}

button{
  font-size: 3vh;
}
span {
  font-size: 3vh;
}


